<div class="mt-4">

    <div class="row">
        <div class="col-12">
            <h3>PetScheduler</h3>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-12 col-md-6">
            <p>
                This application allows vets to view all of the requested appointments
                and make a decision as to confirm the appointment or propose an
                alternative time.
            </p>

            <p>
                <a asp-controller="Appointment" asp-action="Requested">
                <input type="button" class="btn btn-primary" value="Get Started"/></a>
            </p>
        </div>

        <div class="col-sm-12 col-md-6 text-center">
            <img src="images/dog.png" class="img-fluid rounded landingImage" />
        </div>

    </div>

</div>
