<div class="mt-4">

    <h3>Success sending alternative time</h3>


    <div class="row mt-5">

        <div class="col-sm-12 col-md-4">
            <img src="../images/checkbox.png" class="img-fluid text-center rounded confirmImage" />
        </div>


        <div class="col-sm-12 col-md-8 mt-4">
            <p>
                The proposed alternative time for the appointment has been successfully sent.
            </p>
            <p>
                <a asp-controller="Appointment" asp-action="Requested">Continue</a>
            </p>
        </div>

    </div>

</div>